<html>
    <head>
        <title>InternshipManagement</title>
    </head>
    <body>
    <a href="/course">COURSE</a>
    <a href="/manager/add">MANAGER</a>
    <a href="/company">COMPANY</a>
    <a href="/course/internship/add">INTERNSHIP</a>
    </body>
</html>